<div class="flex min-h-full flex-col justify-center px-6 lg:px-8 py-12">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="images/list.png" alt="To-do app" class="mx-auto h-16 w-auto">
    <h2 class="mt-9 text-center text-2xl/9 font-bold tracking-tight text-indigo-700">
      Create your account
    </h2>
  </div>

  <div class="mt-9 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="block border rounded-sm border-gray-300/30 px-6 py-9">
      <form [formGroup]="form" (ngSubmit)="submit($event)" class="space-y-6" >
        <div>
          <label for="name" class="block text-sm/6 font-medium text-gray-500">Name</label>
          <div class="mt-2">
            <input
              id="name"
              type="text"
              name="name"
              autocomplete="name"
              class="block w-full rounded-md bg-white/5 px-3 py-2 text-base text-gray-500 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm-/6"
              formControlName="name"
            />
          </div>

          @let nameControl = form.get('name');

          @if (nameControl?.touched && nameControl?.invalid) {
            <div class="mt-1 text-xs text-red-500">
              @if (nameControl?.hasError('required')) {
                <div>The field is required</div>
              } @else if (nameControl?.hasError('minLength')) {
                <div>Minimum 3 characters</div>
              }
            </div>
          }
        </div>

        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-500">Email</label>
          <div class="mt-2">
            <input
              id="email"
              type="email"
              name="email"
              autocomplete="email"
              class="block w-full rounded-md bg-white/5 px-3 py-2 text-base text-gray-500 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              formControlName="email"
            />
          </div>

          @let emailControl = form.get('email');

          @if (emailControl?.touched && emailControl?.invalid) {
            <div class="mt-1 text-xs text-red-500">
              @if (emailControl?.hasError('required')) {
                <div>The field is required</div>
              } @else if (emailControl?.hasError('pattern')) {
                <div>Email is invalid</div>
              }
            </div>
          }
        </div>

        <div>
          <label for="password" class="block text-sm/6 font-medium text-gray-500">Password</label>
          <div class="mt-2 relative">
            <input
              id="password"
              name="password"
              class="block w-full rounded-md bg-white/5 px-3 pe-12 py-2 text-base text-gray-500 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              autocomplete="on"
              formControlName="password"
              [type]="show() ? 'text' : 'password'"
            />
            <button
              type="button"
              class="absolute inset-y-0 inset-e-0 px-3 flex items-center cursor-pointer text-gray-500 hover:text-indigo-600"
              (click)="show.set(!show())"
            >
              @if (!show()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              } @else {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                  />
                </svg>
              }
            </button>
          </div>

          @let passwordControl = form.get('password');

          @if (passwordControl?.touched && passwordControl?.invalid) {
            <div class="mt-1 text-xs text-red-500">
              @if (passwordControl?.hasError('required')) {
                <div>The field is required</div>
              } @else if (passwordControl?.hasError('pattern')) {
                <div>Password is too weak</div>
              }
            </div>
          }
        </div>

        <div class="mt-10">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-2 cursor-pointer text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50"
          >
            Sign up
          </button>
        </div>
      </form>
    </div>

    <p class="mt-9 text-center text-sm/6 text-gray-400">
      Already have an account?
      <a routerLink="/login" class="font-semibold text-indigo-400 hover:text-indigo-300">Sign in here</a>
    </p>
  </div>
</div>
