<div class="flex items-start justify-between gap-2">
  <h3 class="font-medium text-gray-900 text-sm mb-1 flex-1">{{ task().title }}</h3>

  <button
    type="button"
    title="Edit Task"
    (click)="editTask($event)"
    class="opacity-0 group-hover:opacity-100 p-1 text-gray-400 hover:text-indigo-600 hover:bg-gray-100 rounded transition-all duration-200 cursor-pointer shrink-0"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
    </svg>
  </button>
</div>

@if (task().description) {
  <p class="text-xs text-gray-500 line-clamp-2">{{ task().description }}</p>
}

<div class="flex items-center justify-between mt-1 text-[11px] text-gray-400">
  <span>{{ task().createdAt | date: 'dd.MM.yyyy' }}</span>

  @if (task().user) {
    <span class="bg-gray-100 text-gray-600 px-2 py-0.5 rounded font-medium">
      {{ task().user?.name }}
    </span>
  }
</div>
